body {
	padding: 2px 5%;
	font-family: Helvetica serif;
}

p {
	font-family: sans-serif;
	text-transform: lowercase;
}

h1 {
	border-bottom: 2px solid tan;
}

#form {
	margin: 1em 41%;
	font-weight: bold;
	font-size: 1.8em;
	border: 2px solid tan;
	font-family: Helvetica serif;
}

.info {
	display: table;
	margin: 0 auto;
}

.image  {
	background-image: url("images/bulldog_puppy.jpg");
	width: 100%;
}

#button {
	font-size: 0.8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica serif;
}

img {
	width: 100%;
}